.welcomeText {
  color: white;
  font-size: 80px;
  font-family: SAPMedium, Arial, Helvetica, sans-serif;
  position: absolute;
  top: 700px;
  left: 300px;
}

.vlayout {
  position: relative;
  text-align: center;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.IntroText_1 {
  font-size: 20px;
  font-family: SAPMedium, Arial, Helvetica, sans-serif;
  text-transform: none;
  font-weight: 400;
  color: #333;
}

.courseweoffer {
  font-size: 30px;
  font-family: "72-Bold", "72-Boldfull", "72", "72full", Arial, Helvetica,
    sans-serif;
  text-transform: none;
  font-weight: normal;
  color: #1d2d3e;
  cursor: text;
}

.tile {
  width: 200px;
}

.whoWeText {
  color: #333;
  font-size: 18px;
  font-family: SAPMedium, Arial, Helvetica, sans-serif;
  text-transform: none;
  font-weight: 400;
}

.footer {
  background-color: #333;
  height: 100px;
  width: 100%;
  display: flex;
  flex-grow: 1;
  position: relative;
  box-sizing: border-box;
}

.footeroneLiner {
  color: white;
  font-size: 20px;
}

.footerText1 {
  color: white;
  font-size: 16px;
}

.footerSubText1 {
  color: white;
  font-size: 12px;
}
.footerTextcopyright {
  color: white;
  font-size: 12px;
}

.sapMTBStandard {
  border-bottom: white;
}
.sapMPanelContent:not(.sapMPanelBGTransparent) {
  border-bottom: white;
}

/* Enter your custom styles here */
.roundClass .sapMBtnInner {
  /*button round size*/
  background: #50bd46 !important;
  box-shadow: 10 20 3px grey;
  border-color: solid white;
  color: white; /* text colour in button*/
  padding: 10px; /*button size*/
  text-align: centre; /*text alignment in button*/
  text-decoration: none;
  display: inline-block;
  font-size: 18px;

  cursor: pointer;
  height: 90px;
  width: 90px;
  position: fixed; /*this one is the main thing for the sticky button*/
  opacity: 1;
  top: 20rem;
  z-index: 500;
  left: 1700px;
  border-radius: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.roundClass .sapMBtnText > .sapMBtnIcon {
  display: contents;
  line-height: 1.9rem; /* Add this line when you are using height as 6rem */
}
.roundClass .sapMBtnInner.sapMBtnText {
  padding-left: 0.75rem;
}
.roundClass .sapMBtnContent {
  line-height: normal;
}
